.blogPreviewContent {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-column-gap: 20px;
  margin: 40px;
  padding-top: 40px;
}

.blogPreviewContent img {
  width: 75%;
  height: auto;
  overflow: hidden;
  justify-content: center;
}
